header {
  background-color: #fdbf9c;  
}

main {
  display: grid;
  grid-template-areas:
    'aside article article'
    'aside footer footer';
  grid-gap: 30px;
}

aside {
  background-coloe: #ffe68f;
}

article {
  background-color: #ffffff;
}

footer {
  background-color: #d5f5ff;
}
