header {
  padding: 30px;
  background-color: #fdbf9c;
  background-image: url('https://images.unsplash.com/photo-1544094552-172c2153499e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
}

main {
  display: grid;
  grid-template-areas:
    'aside article article'
    'aside footer footer';
  grid-gap: 30px;
}

aside {
  grid-area: aside;
  background-color: #fdbf9c;
}

article {
  grid-area: article;
  background-color: #ffffff;
}

footer {
  grid-area: footer;
  background-color: #d5f5ff;
}
